<ion-header>
  <ion-toolbar>
    <ion-title align="center">Votre compte</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content id="mainContent">
<section class="user-details">
  @if (!user) {
    <p>...</p>
  } @else {
      <ion-card>
      <ion-card-header>
        <ion-card-title>{{user.firstName}} {{user.lastName}}</ion-card-title>
        <ion-card-subtitle>
          <div class="adresses-container">
            @for (adress of user.adresses; track $index) {
              @if ($index > 0) {
                <p class="address" >{{adress.number}} {{adress.street}} {{adress.cityName}} {{adress.country}}</p>
              } @else {
                <p >{{adress.number}} {{adress.street}} {{adress.cityName}} {{adress.country}}</p>

              }
            }

          </div>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <h4>Votre email :</h4>
        <p>{{user.email}}</p>
        <h4>Votre numéro de téléphone :</h4>
        <p>{{user.phoneNumber}}</p>
      </ion-card-content>
    </ion-card>
  }
</section>
</ion-content>
