<ion-app>
  <ion-menu swipe-gesture="true"  contentId="mainContent">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
     <!-- write your menu content here-->
     <div class="nav">
      <ion-button routerLink="/" fill="outline">Home</ion-button>

       <ion-button routerLink="/product" fill="outline">Produits</ion-button>
       <ion-button routerLink="/login" fill="outline">Se connecter</ion-button>
       <ion-button routerLink="/register" fill="outline">S'enregistrer</ion-button>
     </div>
  </ion-menu>     
  <div class="ion-page" id = "mainContent" main>
    <ion-buttons class="ion-justify-content-between" slot="start">
      <ion-menu-button></ion-menu-button>
      @if (isTokenExist) {
        <div class="profil">
          <ion-button routerLink="/profile" fill="outline" >
            <ion-icon slot="start" name="person-circle-outline"></ion-icon>
            Profile
          </ion-button>
          <ion-button routerLink="/bag" click fill="outline" >
            <ion-icon slot="start" name="bag"></ion-icon>
            Panier
          </ion-button>
          <ion-button (click)="logout()" click fill="outline" >
            <ion-icon name="log-out-outline"></ion-icon>
            Se déconnecter
          </ion-button>
          
        </div>
      }
      
    </ion-buttons>
           <!-- write your app content here-->
           <ion-router-outlet (ionNavWillChange)="closeMenu()" id="mainContent"></ion-router-outlet>
  </div>
</ion-app>



