.nav {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5px;
  width: 100%;
}

.logged {
  display: flex;
  width: 20%;
}

.profil {
  display: flex;
}

ion-toolbar {
  text-align: center;
}

 .disconnect  {
  margin-left: 2px;
}

@media only screen and (max-width: 960px) {
  ion-button {
    font-size: 1em;
  }
}

// .flex {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }
