<ion-header>
  <ion-toolbar>
    <ion-title align="center">Product</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content id="mainContent">
  <ion-grid>
    <ion-row>
      @for (product of products; track product.productId) {
        <app-product-standalone [product]="product"></app-product-standalone>
      
      }
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-button (click)="openFilter()">
      <ion-icon name="filter-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
