ion-grid {
  --ion-grid-columns: 3;
}

ion-card-subtitle {
  font-size: 2em;
}

ion-card-title {
  font-size: 2.3em;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.block {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-modal {
  --height: auto;
}
