<ion-modal [isOpen]="isOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Modal</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content id="mainContent">
   <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam repudiandae officiis alias corporis, adipisci mollitia exercitationem reprehenderit ipsa illo ad?</div>
    </ion-content>
  </ng-template>
</ion-modal>
