<ion-header>
  <ion-toolbar>
    <ion-title align="center">Top produit</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content id="mainContent">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio a sunt aliquid, dolorem eius laudantium! Accusantium doloribus quibusdam beatae quod repudiandae, in qui. Perferendis, consectetur delectus voluptatum asperiores nihil sequi. Ducimus corrupti dolor eius nam optio facilis necessitatibus quod voluptatum ex sed, quidem, totam quasi dicta debitis, vero ab. Odio.</p>
</ion-content>
